.post_comment_like_comment_info_like {
  position: relative;
}

/* Post Reaction */
.comment-reaction-box {
  position: absolute;
  background: white;
  width: 300px;
  height: 50px;
  top: -50px;
  left: -7px;
  z-index: 999;
  border: 1px solid #ddd;
  border-radius: 5rem;
  display: none;
}

.comment-reaction-like,
.comment-reaction-love,
.comment-reaction-care,
.comment-reaction-haha,
.comment-reaction-wow,
.comment-reaction-sad,
.comment-reaction-angry {
  position: absolute;
  top: 0px;
  z-index: 999;
  transform: scale(0);
  background: transparent;
  /* border: none; */
}

.comment-reaction-like {
  left: 0px;
}
.comment-reaction-love {
  left: 42px;
}
.comment-reaction-care {
  left: 84px;
}
.comment-reaction-haha {
  left: 126px;
}
.comment-reaction-wow {
  left: 168px;
}
.comment-reaction-sad {
  left: 210px;
}
.comment-reaction-angry {
  left: 252px;
}
.comment-reaction-like img {
  height: 35px;
  width: 35px;
}
.comment-reaction-love img {
  height: 35px;
  width: 35px;
}
.comment-reaction-care img {
  height: 35px;
  width: 35px;
}
.comment-reaction-haha img {
  height: 35px;
  width: 35px;
}
.comment-reaction-wow img {
  height: 35px;
  width: 35px;
}
.comment-reaction-sad img {
  height: 35px;
  width: 35px;
}
.comment-reaction-angry img {
  height: 35px;
  width: 35px;
}

.post_comment_like_comment_info_like:hover .comment-reaction-box {
  display: block;
}
.post_comment_like_comment_info_like:hover .comment-reaction-like {
  top: -43px !important;
  transition: all 0.1s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_comment_like_comment_info_like:hover .comment-reaction-love {
  top: -43px !important;
  transition: all 0.2s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_comment_like_comment_info_like:hover .comment-reaction-care {
  top: -43px !important;
  transition: all 0.3s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_comment_like_comment_info_like:hover .comment-reaction-haha {
  top: -43px !important;
  transition: all 0.4s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_comment_like_comment_info_like:hover .comment-reaction-wow {
  top: -43px !important;
  transition: all 0.5s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_comment_like_comment_info_like:hover .comment-reaction-sad {
  top: -43px !important;
  transition: all 0.6s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_comment_like_comment_info_like:hover .comment-reaction-angry {
  top: -43px !important;
  transition: all 0.7s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
/* Image Hover  */
.comment-reaction-like img:hover,
.comment-reaction-love img:hover,
.comment-reaction-care img:hover,
.comment-reaction-haha img:hover,
.comment-reaction-wow img:hover,
.comment-reaction-sad img:hover,
.comment-reaction-angry img:hover {
  transform: scale(1.3) translateY(-5px);
  transition: 0.1s ease;
}
