.post {
  border: 1px solid #ddd;
  background: #fff;
  margin-bottom: 1rem;
}
.post__head {
  display: flex;
  padding: 5px;
}
.post__img_wrapper {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
.post__main_img {
  height: 40px;
  width: 40px;
  border-radius: 2rem;
}
.post__header_middle {
  flex: 1;
}
.post__header_middle_name {
  margin-bottom: 0px;
  font-weight: 600;
}
.post__header_middle_timeline {
  font-size: 15px;
}

.post__post_img {
  width: 100%;
  height: auto;
}
.post__post_content {
  padding: 5px;
}

.post__infos {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 7px;
}
.post__reaction_view {
  display: flex;
  cursor: pointer;
}
.post__reaction_view_img {
  background: #fff;
}
.post__reaction_view_img:nth-child(1) {
  height: 21px;
  width: 21px;
  background: #fff;
  border-radius: 12px;
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  margin: 0 0 0 -4px;
  margin-left: -4px;
  outline: none;
  padding: 2px;
  margin-top: 1px;
  position: relative;
}
.post__reaction_view_img:nth-child(2) {
  height: 21px;
  width: 21px;
  background: #fff;
  border-radius: 12px;
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  margin: 0 0 0 -4px;
  outline: none;
  padding: 2px;
  margin-top: 1px;
  position: relative;
}
.post__reaction_view_img:nth-child(3) {
  height: 21px;
  width: 21px;
  background: #fff;
  border-radius: 12px;
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  margin: 0 0 0 -4px;
  outline: none;
  padding: 2px;
  margin-top: 1px;
  position: relative;
}
.post__comment_view {
  cursor: pointer;
  color: #777;
}
.post__reaction_view_img_reactions {
  color: #777;
}

.post__like_comment_share {
  display: flex;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-left: 5px;
  margin-right: 5px;
}
.post_like {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}
.post_comment {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}
.post_share {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.post_like:hover,
.post_comment:hover,
.post_share:hover {
  background: #eee;
}

.post__like_comment_share_icon {
  color: #777;
}

.post__more_dropdown {
  padding: 0 !important;
}
.post__header_last {
  cursor: pointer;
  background: transparent !important;
  box-shadow: none !important;
  border: 0 !important;
  color: #777 !important;
}
.post__header_last::before {
  display: none !important;
}

.post__header_last_dropdown_item {
  position: relative;
  cursor: pointer;
  padding: 5px;
  width: 270px;
}
.post__header_last_dropdown_item:hover {
  background: rgba(0, 0, 0, 0.1);
}
.post__header_last_dropdown_item_icon {
  position: absolute;
  top: 9px;
}
.post__header_last_dropdown_item_name {
  padding-left: 20px;
}
.post__more_dropdown .dropdown-menu {
  padding: 0 !important;
}
