.post {
  border: 1px solid #ddd;
  background: #fff;
  margin-bottom: 1rem;
}
.post__head {
  display: flex;
  padding: 5px;
}
.post__img_wrapper {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
.post__main_img {
  height: 40px;
  width: 40px;
  border-radius: 2rem;
}
.post__header_middle {
  flex: 1;
}
.post__header_middle_name {
  margin-bottom: 0px;
  font-weight: 600;
}
.post__header_middle_timeline {
  font-size: 15px;
}

.post__post_img {
  width: 100%;
  height: auto;
}
.post__post_content {
  padding: 5px;
}

.post__infos {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 7px;
}
.post__reaction_view {
  display: flex;
  cursor: pointer;
}
.post__reaction_view_img {
  background: #fff;
}
.post__reaction_view_img:nth-child(1) {
  height: 21px;
  width: 21px;
  background: #fff;
  border-radius: 12px;
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  margin: 0 0 0 -4px;
  margin-left: -4px;
  outline: none;
  padding: 2px;
  margin-top: 1px;
  position: relative;
}
.post__reaction_view_img:nth-child(2) {
  height: 21px;
  width: 21px;
  background: #fff;
  border-radius: 12px;
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  margin: 0 0 0 -4px;
  outline: none;
  padding: 2px;
  margin-top: 1px;
  position: relative;
}
.post__reaction_view_img:nth-child(3) {
  height: 21px;
  width: 21px;
  background: #fff;
  border-radius: 12px;
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  margin: 0 0 0 -4px;
  outline: none;
  padding: 2px;
  margin-top: 1px;
  position: relative;
}
.post__comment_view {
  cursor: pointer;
  color: #777;
}
.post__reaction_view_img_reactions {
  color: #777;
}

.post__like_comment_share {
  display: flex;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-left: 5px;
  margin-right: 5px;
}
.post_like {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}
.post_comment {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}
.post_share {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.post_like:hover,
.post_comment:hover,
.post_share:hover {
  background: #eee;
}

.post__like_comment_share_icon {
  color: #777;
}

.post__more_dropdown {
  padding: 0 !important;
}
.post__header_last {
  cursor: pointer;
  background: transparent !important;
  box-shadow: none !important;
  border: 0 !important;
  color: #777 !important;
}
.post__header_last::before {
  display: none !important;
}

.post__header_last_dropdown_item {
  position: relative;
  cursor: pointer;
  padding: 5px;
  width: 270px;
}
.post__header_last_dropdown_item:hover {
  background: rgba(0, 0, 0, 0.1);
}
.post__header_last_dropdown_item_icon {
  position: absolute;
  top: 9px;
}
.post__header_last_dropdown_item_name {
  padding-left: 20px;
}
.post__more_dropdown .dropdown-menu {
  padding: 0 !important;
}
.reaction-box {
  position: absolute;
  background: white;
  width: 300px;
  height: 50px;
  top: -50px;
  left: -7px;
  z-index: 999;
  border: 1px solid #ddd;

  border-radius: 5rem;
  display: none;
}

/* Reaction */
.reaction-like,
.reaction-love,
.reaction-care,
.reaction-haha,
.reaction-wow,
.reaction-sad,
.reaction-angry {
  position: absolute;
  top: 0px;
  z-index: 999;
  transform: scale(0);
  background: transparent;
  /* border: none; */
}

.reaction-like {
  left: 0px;
}
.reaction-love {
  left: 42px;
}
.reaction-care {
  left: 84px;
}
.reaction-haha {
  left: 126px;
}
.reaction-wow {
  left: 168px;
}
.reaction-sad {
  left: 210px;
}
.reaction-angry {
  left: 252px;
}
.reaction-like img {
  height: 35px;
  width: 35px;
}
.reaction-love img {
  height: 35px;
  width: 35px;
}
.reaction-care img {
  height: 35px;
  width: 35px;
}
.reaction-haha img {
  height: 35px;
  width: 35px;
}
.reaction-wow img {
  height: 35px;
  width: 35px;
}
.reaction-sad img {
  height: 35px;
  width: 35px;
}
.reaction-angry img {
  height: 35px;
  width: 35px;
}

/* Reaction Hover */
.post_like:hover .reaction-box {
  display: block;
}
.post_like:hover .reaction-like {
  top: -43px !important;
  transition: all 0.1s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_like:hover .reaction-love {
  top: -43px !important;
  transition: all 0.2s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_like:hover .reaction-care {
  top: -43px !important;
  transition: all 0.3s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_like:hover .reaction-haha {
  top: -43px !important;
  transition: all 0.4s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_like:hover .reaction-wow {
  top: -43px !important;
  transition: all 0.5s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_like:hover .reaction-sad {
  top: -43px !important;
  transition: all 0.6s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
.post_like:hover .reaction-angry {
  top: -43px !important;
  transition: all 0.7s;
  transition-delay: 0s;
  transform: scale(1);
  background: transparent;
}
/* Image Hover  */
.reaction-like img:hover,
.reaction-love img:hover,
.reaction-care img:hover,
.reaction-haha img:hover,
.reaction-wow img:hover,
.reaction-sad img:hover,
.reaction-angry img:hover {
  transform: scale(1.3) translateY(-5px);
  transition: 0.1s ease;
}

/* Reaction */
.post__comment_wrap {
  padding: 5px;
}
.post__comment_img_wrap {
  height: 35px;
  width: 35px;
}
.post__comment_img {
  height: 35px;
  width: 35px;
  border-radius: 2rem;
}

.post__comment_text_wrap {
  flex: 1;
}

.post__comment_text {
  flex: 1;
  background: #f0f2f5;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 0px;
  width: fit-content;
}

.post__comment_more {
  color: #777;
  cursor: pointer;
}
.post__comment_more_wrap {
  display: flex;
  align-items: center;
}
.post__comment_wrap_top {
  display: flex;
}

.post_comment_like_comment_info {
  margin-left: 40px;
  display: flex;
  align-items: center;
}
.post_comment_like_comment_info_like {
  border: none;
  outline: 0 !important;
  background: transparent;
  padding: 0;
  margin-right: 2px;
  font-size: 12px;
  font-weight: 600;
  color: #65676b;
}
.post_comment_like_comment_info_comment {
  border: none;
  outline: 0 !important;
  background: transparent;
  padding: 0;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 12px;
  font-weight: 600;
  color: #65676b;
}
.post_comment_like_comment_info_timeline {
  font-size: 12px;
  margin-right: 12px;
}
.post__comment_wrap_top {
  padding: 5px;
}
.reaction__span_text_like {
  color: #2078f4;
  font-weight: 600;
}
.reaction__span_text_love {
  color: #f33e58;
  font-weight: 600;
}
.reaction__span_text_care {
  color: #f7b125;
  font-weight: 600;
}
.reaction__span_text_haha {
  color: #f7b125;
  font-weight: 600;
}
.reaction__span_text_wow {
  color: #f7b125;
  font-weight: 600;
}
.reaction__span_text_sad {
  color: #f7b125;
  font-weight: 600;
}
.reaction__span_text_angry {
  color: #e9714a;
  font-weight: 600;
}
